.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-container {
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
}

mat-chip {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
}

mat-chip mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.chip-entrada {
  background-color: #5bd365 !important;
  color: #2e7d32 !important;
}

.chip-salida {
  background-color: #a1313e !important;
  color: #ce7171 !important;
}

.cantidad-entrada {
  color: #19771c;
}

.cantidad-salida {
  color: #de2a1d;
}